<header>
    <div class="header-content">
        <h1>Aplikasi Cek Cuaca</h1>
        <p>Developer: {{nama}} (23343030)</p>
        <nav>
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/tentang">Tentang</a></li>
                <li><a href="/bantuan">Bantuan</a></li>
            </ul>
        </nav>
    </div>
</header>