<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        <main>
            <div class="main-content">
                <h1>{{judul}}</h1>
                <p>Aplikasi ini digunakan untuk mengecek Cuaca!</p>
                <p>Masukkan lokasi untuk mendapatkan prediksi cuaca yang akurat.</p>
            </div>
        </main>
        {{>footer}}
    </body>
</html>