<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        <main>
            <div class="main-content">
                <h1>{{judul}}</h1>
                <h2>Profil Pengembang</h2>
                <img class="potrait" src="/img/bunga.jpg" alt="Profil {{nama}}">
                <p><strong>Nama:</strong> {{nama}}</p>
                <p><strong>NIM:</strong> 23343030</p>
                <p><strong>Matakuliah:</strong> Praktikum Pemrograman Jaringan</p>
            </div>
        </main>
        {{>footer}}
    </body>
</html>